name: Compatibility Matrix

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build-and-test:
    name: build-and-test (${{ matrix.os }}, ${{ matrix.rust_toolchain }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        rust_toolchain: [stable, beta]
        os: [ubuntu-latest, macos-latest]
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.rust_toolchain }}
      - uses: Swatinem/rust-cache@v2
        with:
          key: ${{ matrix.rust_toolchain }}-${{ matrix.os }}
      - name: Install test prerequisites
        uses: ./.github/actions/setup-frost-prereqs
      - name: Build
        run: cargo build --verbose
      - name: Run tests
        run: cargo test --verbose
