name: Rust
on:
  push:
    branches: ["main", "zkApp-tx"]
  pull_request:
    branches: ["main", "zkApp-tx"]
env:
  CARGO_TERM_COLOR: always
jobs:
  check-all:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/raspberry-devs/mina-multi-sig/frost-ci:latest
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: cargo build --verbose
      - name: Run tests
        run: cargo test --verbose
      - name: Check formatting
        run: cargo fmt --check
